.room-picker
	background: $plum
	color: $gold
	height: 100vh
	width: 100vw
	h1
		padding: 10vh 0 5vh 0
		font-size: 40px
	h2
		flex-grow: 3
		margin-bottom: 15px
	select
		margin: 15px auto
		display: block
	button
		background-color: $plum
		color: $gold
		text-transform: uppercase
		
