nav
	background-color: $gold
	padding: 15px 0
	position: fixed
	width: 100%
	top: 0
	left: 0
	box-shadow: $shadow1
	display: flex
	button
		background-color: $gold
		border: 2px solid white
		&:hover
			background-color: white
			color: $gold
			border: 2px solid $gold
			
.bottom-nav
	background-color: gray
	padding: 5px 15px 10px 15px
	position: fixed
	bottom: 0
	left: 0
	right: 0
	color: white
	box-shadow: $shadow1
	span 
		line-height: 20px
		display: inherit
		text-align: center
	.login-buttons
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 10px 0 0 0
		max-width: 500px
		margin:0 auto
		button
			margin: 0
			display: inline-block
		.google
			background-color: #dd4b39
		.twitter
			background-color: #1da1f2
		.facebook
			background-color: #3b5998
		.github
			background-color: #333

.compose-message
	position:fixed
	bottom: 0
	left: 0
	right: 0
	background-color: white
	padding: 15px
	display: flex
	box-shadow: $shadow1
	input
		width: 100%
		padding: 0 10px
			


	