nav
	background-color: $gold
	padding: 5px 0
	position: fixed
	width: 100%
	top: 0
	left: 0
	box-shadow: $shadow2
	display: flex
	z-index: 10
	h3
		margin: auto
		color: white
		text-transform: uppercase
	button
		background-color: $gold
		display: flex
		flex-direction: column
		i 	
			border: 0px
			&:hover
				border: 0px
			
.bottom-nav
	background-color: white
	padding: 5px 15px 10px 15px
	position: fixed
	bottom: 0
	left: 0
	right: 0
	color: black
	box-shadow: $shadow1
	span 
		line-height: 20px
		display: inherit
		text-align: center
	.login-buttons
		display: flex
		flex-direction: row
		justify-content: space-between
		padding: 10px 0 0 0
		max-width: 500px
		margin:0 auto
		flex-wrap: wrap
		button
			margin: 0
			display: inline-block
			background-color: white
			text-transform: uppercase
		.google
			color: #dd4b39
		.twitter
			color: #1da1f2
		.facebook
			color: #3b5998
		.github
			color: #333

			


	